<header class="section">
    <h1 class="name glow-wrap">
        <span class="text-stroke glow-1">Ayodeji&nbsp;</span>
        <span class="glow-2">Bamidele.</span>
    </h1>
    <h1 class="name glow-wrap">
        <span class="text-stroke glow-2">DevOps&nbsp;</span>
        <span class="glow-3">Engineer.</span>
    </h1>
    <h1 class="name glow-wrap">
        <span class="text-stroke glow-3">Lagos,&nbsp;</span>
        {/* <br /> */}
        <span class="glow-4">Nigeria.</span>
    </h1>
</header>
