<section class="intro" id="intro">
    <h2>Hey there <span class="wave">👋🏾</span></h2>
    <p>I am Ayodeji.</p>
    <br />
    <p>
        I work as a DevOps Engineer, specializing in cloud infrastructure, automation, and platform reliability. 
        I’m driven by the challenge of designing scalable systems and enabling seamless software delivery through modern DevOps practices.
    </p>
    <br />
    <p>Favourite catch phrase: "Commit to Competence."</p>
</section>
