<section class="section" id="work-history">
    <h3 class="heading center">Work History</h3>
    <ul class="flex">
        <!-- Homlify -->
        <li>
            <div class="flex-item">
                <h4>
                    <a
                        class="underline"
                        href="https://homlify.vercel.app/"
                        rel="noopener"
                        target="_blank"
                        aria-label="homlify"
                        >Homlify
                    </a>, <span class="years">2025 - Current</span>
                </h4>
                <p>
                    Worked on low end migration, cost reduction and several integrations, etc.
                </p>
            </div>
        </li>

        <!-- Xapic Technologies -->
        <li>
            <div class="flex-item">
                <h4>
                    <a
                        class="underline"
                        href="https://www.xapictech.com/"
                        rel="noopener"
                        target="_blank"
                        aria-label="xapic">Xapic Tech</a
                    >, <span class="years">2023 - 2024</span>
                </h4>
                <p>
                    I worked as a Contractor, before transitioning into
                    full-time role.
                </p>
                <p>
                    Architected and deployed several microservice APIs to AWS, mentored juniors and worked on several deployments.
                    Worked on Kubernetes, Linux OS and rafactoring. 
                </p>
            </div>
        </li>

        <!-- MituAi -->
        <li>
            <div class="flex-item">
                <h4>
                    <a
                        class="underline"
                        href="https://www.mitu.ai/"
                        rel="noopener"
                        target="_blank"
                        aria-label="Mitu">Mitu Ai</a
                    >, <span class="years">2022 - 2023</span>
                </h4>
                <p>
                    Joined Mitu Ai as a Python Cadet, straight out of
                    university. I was sold the mission to learn and build with Python
                    <a
                        class="underline"
                        href="https://www.mitu.ai/"
                        rel="noopener"
                        target="_blank"
                        aria-label="Mitu">Mitu Ai</a
                    >, with a focus on performance.
                </p>
                <p>
                    I got excited about the mission and rolled my sleeves to
                    join the team at work. We released the first version of the
                    new application about 7 months later, closed more sales, collect money faster, prevent failed checkout etc,
                    this generated billions in revenue. The app is still used in production today.
                </p>
                <p>
                    In this time, I got retained as a Software Engineer
                    contributing to the engineering goals.
                </p>
            </div>
        </li>

        <!-- Interface -->
        <li>
            <div class="flex-item">
                <h4>
                    <a
                        class="underline"
                        href="https://interfaceict.com/index.html"
                        rel="noopener"
                        target="_blank"
                        aria-label="interfaceict">Interface</a
                    >, <span class="years">2019</span>
                </h4>
                <p>
                    Humble beginning as a candidate of the first Interface internship
                    in 2019. This was a great experience that introduced me to
                    the world of professional work setting.
                </p>
                <p>
                    Finished as one of the few finalists with other awesome
                    folks.
                </p>
                <p>
                    Interface was an eye opener and I'm a product of the internship
                    who has moved on to make a decent career, just like many
                    others.
                </p>
            </div>
        </li>
    </ul>
</section>

<style lang="scss">
    @import "../assets/css/_utils.scss";
    /* timeline style */
    .flex {
        position: relative;

        li {
            position: relative;

            &::before {
                @include tablet {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 50%;
                    width: 12px;
                    height: 12px;
                    background-color: var(--primary);
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                    border-radius: 50%;
                    transform: translate(-50%, 100%);
                    z-index: 999;
                }
            }

            &:nth-child(even) > div {
                float: right;
            }
        }

        &-item {
            padding: 20px;
            border-radius: 12px;
            border: 2px solid rgba(213, 213, 213, 0.3);
            transition: transform 0.3s;
            &:hover {
                @include tablet {
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
                    transform: translateY(-5px);
                    transition: transform 0.3s;
                }
            }
        }
    }
</style>
